/* Error: Only 0 arguments allowed, but 2 were passed.
 *     ,
 * 75  | @mixin flex-box() {
 *     |        ========== declaration
 * ... |
 * 83  |     @include flex-box(end,end)
 *     |     ^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *     '
 *   scss/main.scss 83:5  flex-box()
 *   scss/main.scss 83:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Only 0 arguments allowed, but 2 were passed.\a     \2577 \a 75  \2502  @mixin flex-box() {\a     \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a... \2502 \a 83  \2502      @include flex-box(end,end)\a     \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a     \2575 \a   scss/main.scss 83:5  flex-box()\a   scss/main.scss 83:5  root stylesheet";
}
    
.seccionTres {
    background-color: rgb(187, 187, 187);
    grid-area: trimestral;
}
    
p {
    font-size: 12px;

}
h1{
    color: rgb(237, 138, 196);
    text-shadow: 20px 20px 8px rgb(250, 170, 217);
}

.seccionCuatro {
    background-color: rgb(255, 192, 235);
    grid-area: razon;

}

.caja-bloque {
    background-color: rgb(207, 207, 207);
    width: 300px ;
    height: 500px ;

}
h3 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    font-family: 'Times New Roman', Times, cursive;
    font-size: 32px;
    text-align: center;
    margin: 30px;
}

.grid-container {
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    background-color: beige;

    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 600px 600px 600px;

}

.grid-item {
    background-color: aliceblue;
    border: 2px pink;
}

.item-uno {
    background-color: rgb(63, 63, 63);
}

 .caja {
    width: 25%;
    height: 25vh;
    background-color: rgb(190, 226, 190);
    border-color: black;
    border: solid 1px;
    text-align: center;
    line-height: 100px;
 }

 .carru {
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

.bg-container {
    background-color: rgb(248, 221, 234);
    margin: 55;
    align-items: center;
}

.foto-mini {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 32px;
    font-family: cursive;
    color: rgb(42, 42, 42);
}

h3 {
    font-size: 30px;
    font-family: poppins;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

h4 {
    font-size: 25px;
    font-family: poppins;
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
}

p {
    font-size: 18px;
    font-family: poppins;
    margin: 15px;
    text-align: justify;
}

.fotoo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h5 {
    font-family: poppins;
    font-size: 15px;
}

.grid-main {
    border: 5px solid black;
    padding: 16px;

    display: grid;

    grid-template-columns: 2fr 2fr;
    grid-template-rows: repeat(3,25vh);

    gap: 30px;

    grid-template-areas:
    "mensual razon"
    "anual razon"
    "trimestral razon"

}


@media (min-widht: 320px) {
    .grid-main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 200px);
    }
}


.seccionUno {
    background-color: rgb(187, 187, 187);
    grid-area: mensual;

}

.seccionDos {
    background-color: white;
    grid-area: anual;
    
}

.seccionTres {
    background-color: rgb(187, 187, 187);
    grid-area: trimestral;
    
}

.seccionCuatro {
    background-color: rgb(255, 192, 235);
    grid-area: razon;

}

.caja-bloque {
    background-color: rgb(207, 207, 207);
    width: 300px ;
    height: 500px ;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.grid-container {
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    background-color: beige;

    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 600px 600px 600px;

}

.grid-item {
    background-color: aliceblue;
    border: 2px pink;
}

.item-uno {
    background-color: rgb(63, 63, 63);
}



h1 {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
    font-family: poppins;
    font-style: italic;
    font-size: 50px;
    color: hotpink;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(236, 253, 236);
    padding: 10px;
    font-family: poppins;
    font-size: 16px;
    font-style: italic;
}

.caja {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: rgb(148, 203, 240);
    border: 2px solid rgb(201, 201, 201);
    width: 250px;
    height: 250px;
    line-height: 80px;
    align-items: center;
    margin-top: 7%;
    margin-bottom: 5%;

    transform: translate(500px);

    transition-duration: 1s;
    transition-delay: 0s;
    transition-property: background-color transform;
}

.caja:hover {
    transform: rotate(360deg) scale(1.5);
    background-color: rgb(0, 132, 255);
}