.caja-bloque {
    background-color: rgb(207, 207, 207);
    width: 300px ;
    height: 500px ;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.grid-container {
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    background-color: beige;

    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 600px 600px 600px;

}

.grid-item {
    background-color: aliceblue;
    border: 2px pink;
}

.item-uno {
    background-color: rgb(63, 63, 63);
}



.bg-container {
    background-color: rgb(248, 221, 234);
    margin: 55;
}

p{
    font-size: 12px;
    font-family: poppins;

}

h4{
    font-size: 16px;
}