header {
    nav {
        ul {
            li {
                text-decoration: underline;
                padding: 1rem;

                .link {
                    color: beige;
                    background-color: rgb(77, 0, 128);

                    &:hover {
                        background-color: purple;
                        color: white;
                    }

                    &-active {
                        background-color: white;
                    }
                }
            }
        }
    }

    .link {
        color: beige;
        background-color: rgb(77, 0, 128);

        &:hover {
            background-color: purple;
            color: white;
        }

        &-active {
            color: white;
        }

    }

    .link:hover {
        color: rgb(77, 0, 128);
        background-color: white;
    }

}
@media (max-width: 768px) {
    .hero {
      flex-direction: column; 
      height: auto; 
      text-align: center;
    }
  
    .hero-content {
      max-width: 100%; 
      margin-bottom: 20px;
    }
  
    .hero-image {
      max-width: 100%; 
    }
  
    .hero h1 {
      font-size: 2rem; 
    }
  
    .hero h2 {
      font-size: 1.2rem; 
    }
  }